@font-face {
  font-family: 'modal-icons';
  src:  url('icomoon.eot?orcnx7');
  src:  url('icomoon.eot?orcnx7#iefix') format('embedded-opentype'),
    url('icomoon.ttf?orcnx7') format('truetype'),
    url('icomoon.woff?orcnx7') format('woff'),
    url('icomoon.svg?orcnx7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-saved:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e905";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}

