.resetBucket{
  margin-top: -15px;
  .ms-basic-table{
    thead{
      tr{
        th{
          display: none;
          &:first-child {
            display: block;
          }
        }
      }
    }

    tbody{
      tr{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $border-color;
        box-shadow: 0 2px 4px rgba(31,30,47,.03);
        background-color: #FFF;
        margin-bottom: 10px;
        border-radius: 6px;
        td{
          width: 33%;
          display: none;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          padding: 0;
          position: relative;
          padding-top: 33px;
          padding-bottom: 10px;
          font-size: 13px;
          text-align: center;
          flex-grow: 1;

          border-top-color: $border-color;
          border-right: 1px solid $border-color;
          padding-top: 40px;
          padding-bottom: 15px;

          padding-left: 10px;
          padding-right: 10px;

          &:before{
            background-color: $border-color;
            content: attr(data-label);
            font-size: 10px;
            text-transform: uppercase;
            text-align: center;
            border-bottom: 1px solid #f6f6f6;
            display: block;
            width: 100%;
            font-weight: 700;
            position: absolute;
            top: 0;
            left: 0;
            padding: 5px 0;
          }

          &:first-child{
            text-align: left;
            flex-direction: row;
            border-top: 0;
            justify-content: flex-start;
            width: 100%;
            display: flex;
            &:before{
              display: none;
            }
          }

          .ms-show{
            display: block;
            @media screen and (min-width:768px){
              display: none;
            }
          }

          .ms-text-drip{
            &:before{
              display: none;
            }
          }

          .ms-text-name{
            .ms-title{
              font-size: 14px;
              line-height: 1.2;
              font-weight: 600;
            }
          }
          
          .ms-icon-bucket{
            padding-left: 40px;
            padding-right: 30px;
            position: relative;
            &:before{
              position: absolute;
              top: 0;
              left: 0;
            }
          }

          &.item1{
            padding: 20px 10px;
            border-right: 0;
            .ms-show{
              right: 10px;
            }

            p{
              margin-top: 5px;
            }
          }

          &:last-child{
            border-right: 0;
          }

          &.no-border{
            border-right: 0;
          }

          &.ms-full{
            width: 100%;
          }

          &.ms-md{
            width: 50%;
          }
        }

        &.active{
          td{
            display: flex;
          }
        }
      }
    }

    .btn-icon-edit {
      background-color: transparent;
      cursor: pointer;
      width: 30px;
      height: 30px;
      display: block;
      position: relative;
      transition: all .3s;
      span{
        display: none;
      }

      &:before{
        content: "\e902";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 19px;
        font-family: "crm-icons";
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover{
        color: $azul;
      }
    }

    .ms-mx-cls,
    .tg-delete-tpl-mailing,
    .crm-ico-duplicate,
    .ib-drip-delete,
    .ib-bucket-delete{
      width: 30px;
      height: 30px;
      display: block;
      position: relative;
      background-color: transparent;
      transition: all .3s;
      cursor: pointer;
      .ms-close{
        display: none;
      }

      &:before{
        content: "\e91c";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 19px;
        font-family: "crm-icons";
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:hover{
        color: $azul;
      }
    }

    .crm-ico-duplicate{
      text-indent: -999999px;
      &:before{
        content: "\e943";
        font-size: 23px;
        text-indent: 0;
      }
    }

    @media screen and (min-width: 768px){
      width: calc(100vh + 90px) !important;
      min-width: 100%;
      max-width: none;

      thead{
        width: 100%;
        tr{
          display: flex;
          align-items: center;
          th{
            display: block;
            flex-grow: 1;
            width: 100%;
            max-width: 90px;
            text-align: center;
            flex-shrink: 0;

            &.ms-md{
              width: 100%;
              max-width: 180px;
              &.ms-md-vb{
                max-width: 250px;
              }
            }

            &.ms-full{
              width: 100%;
              max-width: 250px;
            }

            &.item1{
              max-width: 100%;
              min-width: 300px;
              flex-shrink: 1;
              text-align: left;
            }
          }
        }
      }

      tbody{
        width: 100%;
        tr{
          flex-wrap: nowrap;
          td{
            padding: 15px;
            border: 0;
            border-right: 1px solid $border-color;
            display: flex;
            align-items: center;
            justify-content: center;

            flex-grow: 1;
            width: 100%;
            max-width: 90px;
            flex-shrink: 0;

            &:before{
              display: none;
            }

            &:last-child{
              border-right: 0;
            }

            &.ms-md{
              width: 100%;
              max-width: 180px;
              &.ms-md-vb{
                max-width: 250px;
              }
            }

            &.ms-full{
              width: 100%;
              max-width: 250px;
            }

            &.item1{
              max-width: 100%;
              min-width: 300px;
              border-right: 1px solid $border-color;
              flex-shrink: 1;
            }

            &.no-border{
              border-right: 1px solid $border-color;
            }
          }
        }
      }

      /*&#emailTable{
        tbody{
          tr{
            td{
              &.item1{
                order: 1
              }

              &.item4{
                order: 2;
              }

              &.item3{
                order: 3;
                width: 180px;
                max-width: 180px;
              }

              &.item2{
                order: 4;
                width: 90px;
                max-width: 90px;
              }

              &.item5{
                order: 5;
              }

              &.item6{
                order: 6;
              }
            }
          }
        }

        thead{
          tr{
            th{
              &.item1{
                order: 1
              }

              &.item4{
                order: 2;
              }

              &.item3{
                order: 3;
                width: 180px;
                max-width: 180px;
              }

              &.item2{
                order: 4;
                width: 90px;
                max-width: 90px;
              }

              &.item5{
                order: 5;
              }

              &.item6{
                order: 6;
              }
            }
          }
        }
      }*/
    }

    @media screen and (min-width: 991px){
      width: calc(100vh + 300px) !important;
    }

    @media screen and (min-width: 1300px){
      width: 100% !important;
      min-width: 100%;
    }
  }
}

.container{
  &.basicPage{
    &.ms-new-basic-form{
      &.ms-float-btn{
        padding-bottom: 0 !important;
        .ms-wrap-btn{
          margin-top: 0;
          .pagination{
            margin: 15px 0;
          }
        }

        >.ms-header{  
          position: sticky;
          top: 0;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          background-color: #FFF;
          z-index: 2;
          @media screen and (min-width: 768px){
            padding-top: 15px !important;
            padding-bottom: 15px !important;
          }
        }
      
        #msbkt{
          position: relative;
          z-index: 1;
          width: auto;
          .btn{
            width: auto !important;
            margin-left: auto;
            border-radius: 4px;
            height: 40px;
          }
      
          #crm_pagination_header{
            display: none;
          }
        }

        .ms-new-pagination{
          display: flex;
          bottom: 0;
          background-color: #FFF;
          padding: 10px 15px;
          margin: 0;
          width: 100%;
          right: 0;
          position: fixed;
          border-top: 1px solid $border-color;
          .ms-total-results{
            display: none;
          }

          .pagination{
            margin: 0;
            line-height: 0;
          }
        }

        .ms-wrap-srcoll{
          padding-bottom: 65px;
        }

        @media screen and (min-width: 768px){
          .ms-wrap-srcoll{
            overflow: auto;
            height: calc(100vh - 218px);
            padding-bottom: 0;
            padding-right: 15px;
            margin-right: -15px;
          }
          .ms-body{
            .ms-wrap-btn{
              overflow: hidden;
              width: 0;
              height: 0;
              position: absolute;
            }
          }
        }

        @media screen and (min-width: 769px){
          .ms-new-pagination{
            width: calc(100% - 250px);
          }
        }

        @media screen and (min-width: 1024px){
          .ms-new-pagination{
            display: none;
          }

          #msbkt{
            position: relative;
            z-index: 1;
            width: auto;
            .btn{
              width: auto !important;
              margin-left: auto;
              border-radius: 4px;
              height: 40px;
            }
          }

          #crm_pagination_header{
            display: flex !important;
            align-items: center;
            justify-content: flex-end;
            margin-right: 15px;
            a,
            button{
              margin-left: 5px;
              width: 35px;
              height: 30px;
              position: relative;
              text-indent: -999999px;
              overflow: hidden;
              display: block;
    
              &:before{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                text-indent: 0;
                content: "\e901";
                font-family: icomoon !important;
                font-size: 16px;
                color: #333;
              }
    
              &.ms-prev{
                order: 1;
                &:before {
                  transform: rotate(-180deg);
                }
              }
    
              &.ms-next {
                order: 2;
              }
            }
    
            span {
              font-size: 13px;
              font-weight: 700;
              display: inline-block;
              margin-right: 10px;
            }
          }

          .ms-wrap-srcoll {
            height: calc(100vh - 163px);
          }
        }
      }
    }
  }
}

.ms-edit-bucket{
  &.msnwf{
    @media (max-width: 767px){
      .ms-lead-body{
        .ms-lead-item{
          .content_dropdown {
            height: 45px;
            width: 89%;
            .dropdown{
              margin-top: 2px;
            }
          }

          .ms-lastvisit-btn {
            bottom: 5px;
          }
        }
      }
    }

    .ms-header{
      .ms-wrap-btn{
        position: relative;
        width: auto;
        border: 0;
        display: flex;
        .btn{
          width: 40px;
          height: 40px;
          font-weight: 600;
          font-size: 13px;
          margin-left: 10px;
          border-radius: 4px;
          border: 1px solid $border-color !important;
          background-image: linear-gradient(to bottom, #fff 0, #f1f1f1 100%);
          position: relative;
          padding: 0;
          span{
            padding: 0;
            transition: opacity .3s;
            opacity: 0.5;
          }

          &:hover{
            span{
              opacity: 1;
            }
          }
        }
      }
    }

    .ms-wrap-table-crm{
      padding-bottom: 55px;
    }

    #crm_pagination_footer{
      bottom: 0;
      line-height: 0;
    }

    @media screen and (min-width: 768px){
      .ms-new-basic-form{
        padding-top: 15px;
      }

      .ms-wrap-table-crm {
        height: calc(100vh - 273px);
        padding-bottom: 15px;
        .ms-lead-header{
          li{
            &.ms-username{
              order: 0;
            }
            &.ms-registered{
              order: 1; 
            }
            &.ms-communication{
              order: 5;
            }
            &.ms-buckets{
              order: 3;
            }
            &.ms-drip{
              order: 4;
            }
            &.ms-lastvisit{
              order: 2;
            }
          }
        }
      }

      .ms-lead-body{
        .ms-lead-item{
          .ms-communication{
            border-right: 0;
          }

          .ms-drip,
          .ms-buckets,
          .ms-communication{
            max-width: 90px;
          }

          .ms-registered,
          .ms-lastvisit{
            max-width: 150px;
          }
        }
      }
    }

   /* @media screen and (min-width: 1024px){
      .ms-wrap-table-crm {
        height: calc(100vh - 223px);
      }
    }*/

    @media screen and (min-width: 1440px){
      .ms-wrap-table-crm {
        height: calc(100vh - 223px);
      }
    }
  }
}
