//VARIABLES DE COLOR - BOTONES - CPANEL
$color_azul: #3590bd;
$color_plomo: #494949;
$color_gris1: #dbdbdb;
$color_gris2: #bebebe;

$btn-default: $color_plomo;
$btn-hover: $color_azul;
$btn-gris: $color_gris1;
$btn-hover-gris: $color_gris2;