/*-----------------------------------------------------------------------------------------------------*/
/* CRM LEAD
/*-----------------------------------------------------------------------------------------------------*/
.ms-crm-page{
	padding: 15px;
}

.ms-user-avatar{
	border-radius: 100%;
	overflow: hidden;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	background-color: #989898;
	color: #FFF !important;
	text-decoration: none;
	font-size: 20px;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	display: none;

	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}

	@media screen and (min-width: 375px){
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
	}

	@media screen and (min-width: 480px){
		width: 50px;
		height: 50px;
		font-size: 24px;
	}

	@media screen and (min-width: 480px){
		width: 35px;
		height: 35px;
		font-size: 18px;
	}
}

.ms-user-info{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 0 10px 0 5px;
	width: 100%;
	.ms-title{
		font-size: 15px;
		display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;

    .ms-name{
    	width: 90%;
    	display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			max-width: 150px;
			@media screen and (min-width: 380px){
				max-width: 200px;
			}
			@media screen and (min-width: 480px){
				max-width: 230px;
			}
			@media screen and (min-width: 640px){
				max-width: 370px;
			}
    }
	}

	.ms-sub-item{
		width: 100%;
		padding-top: 5px;
	}

	@media screen and (min-width: 375px){
		margin-left: 0;
		.ms-title{
			font-size: 16px;
		}
	}

	@media screen and (min-width: 480px){
		.ms-title{
			font-size: 18px;
		}
	}
}

.ms-user-acces{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	a, p{
		color: #333;
		transition: all .3s;
		font-size: 12px;
		&:hover{
			color: #157edc;
		}
	}

	.ms-icon{
		text-indent: -999999px;
		display: block;
		overflow: hidden;
		width: 15px;
		height: 15px;
		position: relative;
		margin-right: 5px;
		border-radius: 2px;
		font-size: 9px;
		&.ms-facebook{
			background-color: #3f51b5;
			&:before{
				content: "\ea90";
				display: flex;
				position: absolute;
				text-indent: 0;
				font-family: 'icomoon'!important;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
				color: #FFF;
				padding-top: 3px;
			}
		}
	}

	@media screen and (min-width: 480px){
		a, p{
			font-size: 15px;
		}

		.ms-icon{
			width: 20px;
			height: 20px;
			font-size: 12px;
		}
	}
}

.ms-inquire{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: auto;
	padding: 10px 5px;
	font-size: 12px;
	background: linear-gradient(to right, #fa6630, #be155e);
	color: #FFF;
	span{
		display: block;
		font-weight: 600;
		font-size: 20px;
	}

	@media screen and (min-width: 480px){
		padding: 10px;
		font-size: 15px;
	}
}

.ms-status{
	text-indent: -999999px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	flex-shrink: 0;
	background-color: #d60a0a;
	border-radius: 100%;
	@media screen and (min-width: 480px){
		width: 16px;
		height: 16px;
	}

	&.ms-logged-in{
		background-color: #1dcb00;
	}
}

.ms-wrap{
	width: 100%;
	display: flex;
	&.ms-user-name{
		position: relative;
		justify-content: space-between;
		padding: 5px;
		border-bottom: 1px solid #dfe0e0;
		.ms-chk{
			margin-left: -5px;
		}

		@media screen and (min-width: 480px){
			padding: 10px;
			.ms-chk{
				margin-left: -10px;
			}
		}
	}
}

.ms-last-visit-btn{
	padding: 10px 10px 10px 40px; 
	font-size: 12px;
	margin: 0;
	color: #909090;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: auto;
	position: relative;
	min-height: 54px;
	span{
		color: #333;
		font-size: 12px;
		font-weight: 700;
		display: block;
	}

	.ms-arrow{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 35px;
		height: 100%;
		text-indent: -999999px;
		overflow: hidden;
		background-color: #FFF;
		color: #858687;
		&:before{
			content: "\e901";
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			font-family: 'icomoon'!important;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			text-indent: 0;
			transform: rotate(90deg);
		}
	}

	@media screen and (min-width: 480px){
		font-size: 15px;
		padding-left: 50px;
		span{
			font-size: 15px;
		}
		.ms-arrow{
			width: 45px;
		}
	}
}

.ms-actions{
	height: auto;
	align-items: center;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	.ms-btn{
    background-color: #fff;
    border: 1px solid #dedede;
    background-image: linear-gradient(to bottom,#fff 0,#f1f1f1 100%);
    width: 45px;
    height: 40px;
    margin-right: 5px;
    flex-shrink: 0;
    font-weight: 700;
    border-radius: 4px;
    font-size: 12px;
    color: #157edc;
    position: relative;
    span{
    	display: block;
    	color: #303030;
    }
	}

	@media screen and (min-width: 375px){
		.ms-btn{
			text-indent: -999999px;
			padding: 5px;
			width: 60px;
			flex-shrink: 0;
			span{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				text-indent: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&.ms-phone{
				span{
					&:before{
						content: "";
						display: inline-block;
						margin-right: 5px;
						background-image: url('../images/crm-icons.png');
						width: 20px;
						height: 22px;
						background-position: -41px -291px;
						text-indent: 0;
						background-size: 191px;
					}
				}
			}

			&.ms-email{
				span{
					&:before{
						content: "";
						display: inline-block;
						margin-right: 5px;
						background-image: url('../images/crm-icons.png');
						width: 20px;
						height: 20px;
						background-position: -124px -271px;
						text-indent: 0;
						background-size: 191px;
					}
				}
			}

			&.ms-texts{
				span{
					&:before{
						content: "";
						display: inline-block;
						margin-right: 5px;
						background-image: url('../images/crm-icons.png');
						width: 21px;
						height: 20px;
						background-position: -41px -271px;
						text-indent: 0;
						background-size: 191px;
					}
				}
			}
		}
	}

	@media screen and (min-width: 480px){
		margin-right: 5px;
		.ms-btn{
			height: 45px;
			font-size: 15px;
		}
	}
}

.ms-activity{
	display: flex;
	align-items: center;
	padding: 7px 0;
	border-top: 1px solid #dfe0e0;
	.ms-item{
		flex-grow: 1;
		width: 20%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 12px;
		color: #979797;
		padding: 5px;
		border-right: 1px solid #dfe0e0;
		span{
			display: block;
			font-weight: 700;
			color: #157edc;
			font-size: 15px;
		}

		&:last-child{
			border-right: 0;
		}
	}

	@media screen and (min-width: 480px){
		padding: 10px;
		.ms-item{
			font-size: 15px;
			span{
				font-size: 18px;
			}
		}
	}
}

.ms-activity-actions{
	font-size: 11px;
	color: #979797;
	text-align: center;
	padding: 15px 5px;
	width: 32%;
	flex-grow: 1;
	border-top: 1px solid #dfe0e0;
	background-color: #FFF;
	span{
		font-weight: 700;
		color: #333;
		display: block;
	}
	.ms-bg-text{
		text-transform: uppercase;
	}

	@media screen and (min-width: 480px){
		font-size: 15px;
		padding-top: 20px;
		padding-bottom: 20px;
		span{
			span{
				display: block;
			}

			&.ms-bg-text{
				margin-bottom: 5px;
			}
		}
	}
}

.ms-icon-rocket{
	display: inline-block;
	width: 35px;
	height: 39px;
	background-image: url('../images/crm-icons.png');
	background-size: 182px;
	background-position: 0 0;
	margin-bottom: 5px;
	&:hover{
		background-position: -36px 0;
	}

	&.active{
		background-position: -71px 0;
	}

	&.end{
		background-position: -106px 0;
	}
}

.ms-icon-back{
	display: inline-block;
	width: 40px;
	height: 36px;
	background-image: url('../images/crm-icons.png');
	background-size: 182px;
	background-position: -40px -38px;
	margin-bottom: 5px;
	margin-right: -5px;
}

.ms-icon-user{
	display: inline-block;
	width: 45px;
	height: 34px;
	background-image: url('../images/crm-icons.png');
	background-size: 182px;
	background-position: -46px -75px;
	margin-bottom: 5px;
	margin-right: -5px;
}

/*-----------------------------------------------------------------------------------------------------*/
/* CRM LEAD
/*-----------------------------------------------------------------------------------------------------*/
.ms-lead-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	li{
		flex-grow: 1;
		flex-shrink: 0;
		font-weight: 700;
		text-align: center;
		font-size: 12px;
		text-transform: uppercase;
		margin-bottom: 5px;

		&.ms-username{
			width: 320px;
		}
		&.ms-inquires{
			width: 70px;
		}
		&.ms-activity{
			width: 270px;
		}
		&.ms-communication{
			width: 110px;
		}
		&.ms-todo{
			width: 110px;
		}
		&.ms-actions{
			width: 231px;
		}
		&.ms-boost{
			width: 50px;
		}
		&.ms-lastvisit,
		&.ms-registered,
		&.ms-assigned{
			width: 100px;
		}
	}
}

.ms-lead-body{
	position: relative;
	width: 100%;
	margin: 0 auto;
	.ms-lead-item{
		border-radius: 4px;
		background-color: #FFF;
		border: 1px solid #d6d5da;
		box-shadow: 0 0 16px #ccc;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		overflow: hidden;
		margin-bottom: 15px;

		.ms-item{
			&.ms-chk{
				label{
					text-indent: -999999px;
					margin: 0;
					position: relative;
					background-color: #FFF;
					overflow: hidden;
					width: 40px;
					height: 100%;
					cursor: pointer;
					&:before{
						content: "";
						display: block;
						border-radius: 4px;
						border: 2px solid #cccccc;
						background-color: #FFF;
						width: 20px;
						height: 20px;
						text-indent: 0;
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						margin: -10px auto auto;
					}
				}

				input:checked+label{
					&:after{
						content: "\e904";
						font-family: 'icomoon'!important;
						width: 20px;
						height: 20px;
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						margin: -10px auto auto;
						display: flex;
						align-items: center;
						justify-content: center;
						text-indent: 0;
						z-index: 1;
					}
				}
			}
		}

		.content_dropdown{
			margin: 0;
			.dropdown{
				position: relative;
				margin-left: auto;
				margin-right: 0;
				.dropdown-menu {
					position: absolute;
					top: 100%;
					border: 1px solid #dfe0e0;
				}
			}
		}

		@media screen and (min-width: 768px){
			flex-wrap: nowrap;
			height: 65px;
			margin-bottom: 10px;

			.content_dropdown{
				position: absolute;
				right: 80px;
				bottom: 6px;
				.dropdown{
					width: 80px;
					.btn {
						font-size: 10px;
						padding: 1px 10px;
						&:after {
							font-size: 7px;
						}
					}
				}
			}

			.ms-last-visit-btn{
				display: none;
			}

			.ms-status{
				width: 12px;
				height: 12px;
			}

			.ms-inquire{
				font-size: 13px;
				width: 70px;
				span{
					font-size: 15px;
				}
			}

			.ms-user-info{
				margin-right: 0;
				padding-right: 10px;
				.ms-title{
					margin-top: 0;
					font-size: 16px;

					.ms-name{
						max-width: 210px;
					}
				}

				.ms-sub-item{
					padding: 0;
				}
			}

			.ms-user-acces{
				a, p{
					font-size: 13px;
				}

				.ms-icon{
					width: 15px;
					height: 15px;
					font-size: 9px;
				}
			}

			.ms-user-name{
				order: 0;
				padding-top: 0;
				padding-bottom: 0;
				padding-right: 0;
				border: 0;
				flex-grow: 1;
				flex-shrink: 0;
				width: 390px;
			}

			.ms-activity{
				order: 1;
				padding: 0;
				border-top: 0;
				flex-shrink: 0;
				flex-grow: 1;
				width: 270px;
				border-right: 1px solid #cacaca;
				.ms-item{
					font-size: 13px;
					border-right: 0;
					span{
						font-size: 15px;
					}
				}
			}

			.ms-last-comunication{
				order: 2;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: 13px;
				font-weight: 700;
				color: #333;
				border-top: 0;
				border-right: 1px solid #cacaca;
				flex-grow: 1;
				width: 110px;
				flex-shrink: 0;
				.ms-bg-text{
					display: none;
				}
				span{
					font-weight: normal;
					order: 1;
					color: #979797;
				}
			}

			.ms-back{
				order: 3;
				font-size: 13px;
				border-top: 0;
				border-right: 1px solid #cacaca;
				flex-grow: 1;
				width: 110px;
				flex-shrink: 0;
				.ms-icon-back{
					display: none;
				}
			}

			.ms-actions{
				order: 4;
				margin: 0;
				border-top: 0;
				border-right: 1px solid #cacaca;
				justify-content: center;
				flex-grow: 1;
				width: auto;
				flex-shrink: 0;
				padding: 0 15px;
				.ms-btn{
					margin-right: 10px;
					&:last-child{
						margin-right: 0;
					}
				}
			}
			
			.ms-driv{
				order: 5;
				text-indent: -999999px;
				position: relative;
				border-top: 0;
				border-right: 1px solid #cacaca;
				flex-grow: 1;
				width: 50px;
				flex-shrink: 0;
				span{
					display: none;
				}

				.ms-icon-rocket{
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					text-indent: 0;
					margin-bottom: 0;

					width: 21px;
					height: 23px;
					background-size: 110px;
					background-position: 0px 0;

					&.active{
						background-position: -43px 0;
					}

					&.end{
						background-position: -64px 0;
					}
				}
			}

			.ms-last-visit{
				order: 6;
				font-size: 13px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				border-top: 0;
				border-right: 1px solid #cacaca;

				flex-grow: 1;
				flex-shrink: 0;
				width: 100px;
				.ms-bg-text{
					display: none;
				}
			}

			.ms-register-data{
				order: 7;
				font-size: 13px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				border-top: 0;
				border-right: 1px solid #cacaca;

				flex-grow: 1;
				flex-shrink: 0;
				width: 100px;
				.ms-bg-text{
					display: none;
				}
			}

			.ms-assigned{
				order: 8;
				font-size: 13px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;

				flex-grow: 1;
				flex-shrink: 0;
				width: 100px;
				.ms-bg-text,
				.ms-icon-user{
					display: none;
				}
			}
		}
	}
}
