/*-----------------------------------------------------------------------------------------------------*/
/* CRM LEAD
/*-----------------------------------------------------------------------------------------------------*/
.ms-crm-page{
	padding: 0 15px;
	//background-color: #f2f2f2;
	//overflow-x: auto;

	button{
		background-color: transparent;
	}
}

/*-----------------------------------------------------------------------------------------------------*/
/* COMPONENTES
/*-----------------------------------------------------------------------------------------------------*/
.ms-user-avatar{
	border-radius: 100%;
	overflow: hidden;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	background-color: #989898;
	color: #FFF !important;
	text-decoration: none;
	font-size: 20px;
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 1;
	}
}

.ms-user-info{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	.ms-title{
		font-size: 15px;
		display: flex;
    align-items: center;
    justify-content: space-between;

    .ms-name{
    	width: 90%;
    	display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
    }
	}

	.ms-sub-item{
		width: 100%;
		padding-top: 5px;
	}
}

.ms-icon{
	text-indent: -999999px;
	display: block;
	overflow: hidden;
	width: 15px;
	height: 15px;
	position: relative;
	margin-right: 5px;
	border-radius: 2px;
	font-size: 9px;
	font-style: normal;
	&.ms-facebook{
		background-color: #3f51b5;
		&:before{
			content: "\ea90";
			display: flex;
			position: absolute;
			text-indent: 0;
			font-family: 'icomoon'!important;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			color: #FFF;
			padding-top: 3px;
		}
	}
}

.ms-user-access{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	a, p{
		width: 100%;
		color: #333;
		transition: all .3s;
		font-size: 12px;
		&:hover{
			color: #157edc;
		}
	}
}

.ms-status{
	text-indent: -999999px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	flex-shrink: 0;
	background-color: #d60a0a;
	border-radius: 100%;
	&.ms-logged-in{
		background-color: #1dcb00;
	}
}

.ms-actions{
	height: auto;
	align-items: center;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	.ms-btn{
    background-color: #fff;
    border: 1px solid #dedede;
    background-image: linear-gradient(to bottom,#fff 0,#f1f1f1 100%);
    width: 45px;
    height: 40px;
    margin-right: 5px;
    flex-shrink: 0;
    font-weight: 700;
    border-radius: 4px;
    font-size: 12px;
    color: #909090;
    position: relative;
    span{
    	display: block;
    }

    &.active{
    	color: #157edc;
    	span{
    		color: #303030;
    	}
    }
	}

	@media screen and (min-width: 375px){
		.ms-btn{
			text-indent: -999999px;
			padding: 5px;
			width: 57px;
			flex-shrink: 0;
			span{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				text-indent: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&.ms-phone{
				span{
					&:before{
						content: "";
						display: inline-block;
						margin-right: 5px;
						background-image: url('../images/crm-icons.png');
						width: 20px;
						height: 22px;
						text-indent: 0;
						background-position: 0px -403px;
						background-size: 270px;
					}
				}

				&.active{
					span{
						&:before{
							background-position: -40px -403px;
						}
					}
				}
			}

			&.ms-email{
				span{
					&:before{
						content: "";
						display: inline-block;
						margin-right: 5px;
						background-image: url('../images/crm-icons.png');
						width: 20px;
						height: 19px;
						text-indent: 0;
						background-position: -82px -384px;
						background-size: 270px;
					}
				}

				&.active{
					span{
						&:before{
							background-position: -121px -384px;
						}
					}
				}
			}

			&.ms-texts{
				span{
					&:before{
						content: "";
						display: inline-block;
						margin-right: 5px;
						background-image: url('../images/crm-icons.png');
						width: 21px;
						height: 20px;
						text-indent: 0;
						background-position: 1px -383px;
						background-size: 270px;
					}
				}

				&.active{
					span{
						&:before{
							background-position: -40px -383px;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 480px){
		margin-right: 5px;
		.ms-btn{
			height: 45px;
			font-size: 13px;
		}
	}
}

.ms-bg-gray{
	background-color: #f5f5f5;
}

.ms-icon-rocket{
	display: inline-block;
	width: 34px;
	height: 39px;
	background-image: url('../images/crm-icons.png');
	background-size: 255px;
	background-position: 0 0;
	margin-bottom: 5px;
	margin-right: -5px;

	&.active{
		background-position: -69px 0;
	}

	&.end{
		background-position: -103px 1px;
	}
}

.ms-icon-buckets{
	display: inline-block;
	width: 25px;
	height: 39px;
	background-image: url('../images/crm-icons.png');
	background-size: 360px;
	background-position: 0 -205px;
	margin-bottom: 5px;
	&.active{
		background-position: -73px -205px;
	}
}

.ms-icon-user{
	display: inline-block;
	width: 44px;
	height: 33px;
	background-image: url('../images/crm-icons.png');
	background-size: 260px;
	background-position: -43px -75px;
	margin-bottom: 5px;
	margin-right: -5px;
	margin-top: 6px;
}

.ms-valid,
.ms-close,
.ms-show,
.ms-edit{
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	margin-left: 10px;
	text-indent: -999999px;
	overflow: hidden;
	position: relative;
	border: 2px solid #969695;
	background-color: #FFF;
	color: #969695;
	&:hover,
	&.active{
		color: #333;
		border-color: #333;
	}
}

.ms-valid{
	border-radius: 100%;
	&:after{
		content: "\e904";
		font-family: "icomoon"!important;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-indent: 0;
		z-index: 1;
		line-height: 16px;
	}
}

.ms-close{
	&:after{
		content: "\e905";
		font-family: "icomoon"!important;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		text-indent: 0;
		z-index: 1;
		line-height: 16px;
		font-size: 8px;
		font-weight: 700;
	}
}

.ms-show{
	border: 0;
	background-color: transparent;
	&:after{
		content: "\e901";
		font-family: 'icomoon'!important;
		font-size: 16px;
		position: absolute;
		transform: rotate(90deg);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-indent: 0;
	}
}

.ms-edit{
	margin-left: 0;
	overflow: visible;
	border: 0;
	&:before{
    content: "";
    display: block;
    margin: 0;
    width: 20px;
    height: 20px;
    background-image: url('../images/crm-icons.png');
    background-position: 58px -17px;
    background-size: 208px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
	}
}

.ms-widget{
	border-radius: 4px;
	border: 1px solid #dcdcdc;
	overflow: hidden;
	background-color: #FFF;
	margin-bottom: 15px;
	.ms-header-widget{
		padding: 10px 15px;
		background-color: #f6f6f6;
		display: flex;
		justify-content: space-between;
		.ms-title{
			font-size: 15px;
			font-weight: 700;
			overflow: hidden;
			-o-text-overflow: ellipsis;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		.ms-link{
			color: #3298d5;
			font-size: 12px;
			flex-shrink: 0;
			margin-left: 10px;
			&:hover{
				text-decoration: underline
			}
		}
	}

	.ms-body-widget{
		padding: 15px;
		.ms-title{
			font-weight: 700;
			font-size: 14px;
		}
		p{
			margin: 5px 0;
			font-size: 14px;
		}

		.ms-table{
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			font-size: 13px;
			li{
				width: 48%;
				display: flex;
				justify-content: space-between;
				text-align: right;
				margin-bottom: 5px;
				flex-wrap: wrap;
				span{
					text-align: left;
					text-transform: uppercase;
					font-weight: 700;
					padding-right: 10px;
					width: 100%;
					display: block;
				}

				.ms-icon-verify{
					margin-right: auto;
					margin-left: 5px;
					vertical-align: middle;
					margin-top: 2px;
				}
			}

			&.ms-full{
				li{
					width: 100%;
				}
			}

			&.ms-left{
				li{
					justify-content: flex-start;
					text-align: left;
					span{
						width: 40%;
						padding-right: 10px;
					}
				}
			}
		}

		.ms-list{
			li{
				margin-bottom: 5px;
				&.ms-note{
					padding-left: 30px;
					margin-bottom: 10px;
				}
			}

			.ms-list-title{
				font-size: 14px;
				font-weight: 700;
				width: 100%;
				position: relative;
				padding-right: 30px;
				button, a{
					position: absolute;
					right: 0;
					top: 0;
				}
			}

			span{
				display: block;
				font-size: 13px;
			}
		}
	}

	.ms-wrap-btn{
		padding: 0 15px 15px;
		margin-top: -10px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
}

.ms-msg{
	padding: 15px;
	background-color: #FFF;
	border: 1px solid #dcdcdc;
	position: relative;

	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	border-top-right-radius: 6px;

  .ms-msg-title{
  	font-weight: 700;
  	font-size: 14px;
  	margin-bottom: 5px;
  	span{
			font-weight: normal;
  	}
  }

  p{
  	font-size: 14px;
  	margin-bottom: 3px;
  	&.ms-small{
  		font-size: 12px;
  	}
  }

	&:before{
		content: "";
		width: 0;
		height: 0;
		border-top: 16px solid #dcdcdc;
		border-left: 16px solid transparent;
		position: absolute;
		top: -1px;
		left: -16px;
	}

	&:after{
		content: "";
		width: 0;
		height: 0;
		border-left: 13px solid transparent;
		border-right: 13px solid transparent;
		border-top: 13px solid #FFF;
		position: absolute;
		top: 0px;
		left: -14px;
	}

	&.ms-bg-black{
		background-color: #3e3a3c;
		border-color: #3e3a3c;
		color: #FFF;
		&:before{
			border-top: 16px solid #3e3a3c;
		}

		&:after{
			display: none;
		}

		.ms-valid,
		.ms-close{
			background-color: transparent;
			border-color: #FFF;
			color: #FFF;
		}
	}

	&.ms-bg-boost{
		background-color: #be155e;
		border: 0;
		background: linear-gradient(to right, #fa6630, #be155e);
		color: #FFF;
		&:before{
			border-top: 16px solid #fa6630;
			top: 0;
		}
		&:after{
			display: none;
		}
		.ms-valid,
		.ms-close{
			background-color: transparent;
			border-color: #FFF;
			color: #FFF;
		}
	}

	&.ms-light-gray{
		background-color: #f2f2f2;
		border: 0;
		&:before{
			border-top: 16px solid #f2f2f2;
			top: 0;
		}
		&:after{
			display: none;
		}
		.ms-valid,
		.ms-close{
			background-color: transparent;
			border-color: #333;
			color: #333;
		}
	}

	&.ms-bg-green{
		background-color: #90b02d;
		border: 0;
		color: #FFF;
		&:before{
			border-top: 16px solid #90b02d;
			top: 0;
		}
		&:after{
			display: none;
		}
		.ms-valid,
		.ms-close{
			background-color: transparent;
			border-color: #FFF;
			color: #FFF;
		}
	}

	&.ms-bg-note{
		background-color: #fff581;
		border: 0;
		&:before{
			border-top: 16px solid #fff581;
			top: 0;
		}
		&:after{
			display: none;
		}
		.ms-valid,
		.ms-close{
			background-color: transparent;
			border-color: #333;
			color: #333;
		}
	}

	&.ms-bg-blue{
		background-color: #1893da;
		border: 0;
		color: #FFF;
		&:before{
			border-top: 16px solid #1893da;
			top: 0;
		}
		&:after{
			display: none;
		}
		.ms-valid,
		.ms-close{
			background-color: transparent;
			border-color: #FFF;
			color: #FFF;
		}
	}
	
	.ms-valid,
	.ms-close{
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.ms-show{
		display: block;
    margin-right: 0;
    margin-left: auto;
    margin-top: -20px;
	}
}

.ms-property-item{
	.ms-wrap-img{
		width: 100%;
		display: block;
		position: relative;
		background-color: #333;
		color: #FFF;
		&:after{
			content: "";
			display: block;
			padding-bottom: 60%;
		}

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			object-fit: cover;
			top: 0;
			left: 0;
		}

		.ms-float{
			position: absolute;
			display: flex;
			width: 100%;
			height: 100%;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-transform: uppercase;
			font-size: 12px;
			.ms-bg-text{
				font-size: 28px;
				font-weight: 700;
			}
		}
	}

	.ms-property-info{
		margin-top: 10px;
		.ms-title{
			font-size: 14px;
			margin-bottom: 5px;
		}

		ul{
			font-size: 12px;
			font-weight: 700;
			&:after{
				content: "";
				display: block;
				clear: both;
			}
			li{
				float: left;
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
			}
		}

		p{
			font-size: 14px;
			&.ms-small{
				font-size: 12px;
			}
		}
		
		.ms-wrap-btn{
			margin-top: 5px;
		}

		.ms-edit{
			margin-left: 0;
			overflow: visible;
			height: 22px;
			display: inline-block;
			vertical-align: middle;
			margin-top: -9px;
			&:before{
				width: 24px;
				height: 22px;
				background-position: 91px -20px;
				background-size: 241px;
				top: 0px;
				left: -2px;
			}

			&:hover{
				&:before{
					background-position: 68px -20px;
				}
			}
		}
	}
}

.ms-drop-list{
	max-height: 0;
	transition: all .6s;
	height: auto;
	overflow: hidden;
	margin-top: 15px;
	>li{
		margin-bottom: 15px;
		.ms-wrap-item{
			padding: 0;
		}
	}
}

.ms-open-list{
	.ms-show{
		&:after{
			transform: rotate(-90deg);
		}
	}

	.ms-drop-list{
		max-height: 100%;
	}
}

.timeline{
	padding-left: 30px;
	position: relative;
	&:before{
		content: "";
		display: block;
		width: 2px;
		position: absolute;
		left: 14px;
		height: 100%;
		background-color: #f0f1f1;
	}

	.ms-item{
		position: relative;
		margin-bottom: 15px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		&:before{
			content: "";
			display: block;
			width: 12px;
			height: 12px;
			border: 2px solid #1ba4f8;
			border-radius: 100%;
			background-color: #FFF;
			position: absolute;
			left: -21px;
			top: 0;
		}

		&.ms-date{
			&:before{
				display: none;
			}

			span{
				width: 37px;
				height: 37px;
				display: flex;
				margin-left: -33px;
				margin-top: -18px;
				align-items: center;
				justify-content: center;
				color: #1ba4f8;
				font-weight: 700;
				font-size: 12px;
				text-transform: uppercase;
				background-color: #e7f6ff;
				border-radius: 100%;
			}
		}
	}

	.ms-wrap-item{
		padding-left: 15px;
		width: 100%;
	}

	.ms-item-icon{
		width: 45px;
		flex-shrink: 0;
		margin-right: 10px;
		font-size: 10px;
		display: block;
		text-align: center;
		font-weight: 700;
		margin-left: -5px;

		&:before{
			margin: 0 auto 3px auto;
			display: block;
		}

		&.ms-rocket{
			&:before{
				content: "";
				display: block;
				margin: 0 auto 3px auto;
				width: 18px;
				height: 20px;
				background-image: url('../images/crm-icons.png');
				background-position: 0 0;
				background-size: 130px;
			}

			&.end{
				&:before{
					background-position: -52px 1px;
				}
			}

			&.active{
				&:before{
					background-position: -35px 0px;
				}
			}
		}
	}
}

.ms-phone-unknown,
.ms-phone-talking,
.ms-phone-valid,
.ms-phone-wrong{
	&:before{
		content: "";
		width: 15px;
		height: 15px;
		background-image: url('../images/crm-icons.png');
		background-position: -13px -94px;
		display: inline-block;
		background-size: 190px;
	}
}

.ms-phone-unknown,
.ms-phone-valid{
	&:before{
		background-position: -13px -94px;
	}
}

.ms-phone-talking{
	&:before{
		background-position: -94px -95px;
	}
}

.ms-phone-wrong{
	&:before{
		background-position: -109px -95px;
	}
}

.ms-email-unknown,
.ms-email-invalid,
.ms-email-valid,
.ms-email-way{
	&:before{
		content: "";
		width: 15px;
		height: 15px;
		background-image: url('../images/crm-icons.png');
		background-position: -71px -79px;
		display: inline-block;
		background-size: 190px;
	}
}

.ms-email-unknown,
.ms-email-valid{
	&:before{
		background-position: -71px -79px;
	}
}

.ms-email-way{
	&:before{
		background-position: -127px -79px;
	}
}

.ms-email-invalid{
	&:before{
		background-position: -141px -79px;
	}
}

.ms-icon-verify{
	&:before{
		content: "";
		width: 15px;
		height: 15px;
		background-image: url('../images/crm-icons.png');
    background-position: 0px -201px;
    display: inline-block;
    background-size: 270px;
	}
}

.ms-note{
	position: relative;
	padding-left: 30px;
	&:before{
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 19px;
		height: 19px;
		background-image: url('../images/crm-icons.png');
		background-position: -161px -458px;
		display: inline-block;
		background-size: 240px;
	}
}

.ms-email-open{
	&:before{
		content: "";
		width: 16px;
		height: 15px;
		background-image: url('../images/crm-icons.png');
		background-position: -51px -175px;
		display: inline-block;
		background-size: 257px;
	}
}

.ms-email-close{
	&:before{
		content: "";
		width: 16px;
		height: 15px;
		background-image: url('../images/crm-icons.png');
		background-position: -85px -176px;
		display: inline-block;
		background-size: 257px;
	}
}

.ms-icon-lead{
	&:before{
		content: "";
		width: 16px;
		height: 15px;
		background-image: url('../images/crm-icons.png');
		background-position: -67px -99px;
		display: inline-block;
		background-size: 170px;
	}

	&.active{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		&:after{
			content: "";
			width: 16px;
			height: 15px;
			background-image: url('../images/crm-icons.png');
			background-position: 2px -183px;
			display: inline-block;
			background-size: 247px;
			order: -1;
			margin: 0;
		}

		&:before{
			order: -2;
			margin: 0;
		}
	}
}

.ms-icon-inquiere{
	&:before{
		content: "";
    width: 16px;
    height: 21px;
    background-image: url('../images/crm-icons.png');
    background-position: 1px -161px;
    display: inline-block;
    background-size: 201px;
	}
}

.ms-phone-send,
.ms-phone-recived,
.ms-phone-no-answer{
	&:before{
    content: "";
    width: 23px;
    height: 19px;
    background-image: url('../images/crm-icons.png');
    background-position: -16px -187px;
    display: block;
    background-size: 252px;
	}
}

.ms-phone-recived{
	&:before{
		background-position: -40px -187px;
	}	
}

.ms-phone-no-answer{
	&:before{
		background-position: -63px -187px;
	}	
}

.ms-icon-sms{
	&:before{
    content: "";
    width: 19px;
    height: 17px;
    background-image: url('../images/crm-icons.png');
    background-position: -109px -187px;
    display: block;
    background-size: 252px;
	}
}

.ms-icon-alert{
	&:before{
    content: "";
    width: 22px;
    height: 19px;
    background-image: url('../images/crm-icons.png');
    background-position: -38px -188px;
    display: block;
    background-size: 230px;
	}
}

.ms-icon-note{
	&:before{
    content: "";
    width: 15px;
    height: 15px;
    background-image: url('../images/crm-icons.png');
    background-position: -133px -378px;
    display: block;
    background-size: 198px;
	}
}

.ms-icon-calendar{
	&:before{
    content: "";
    width: 16px;
    height: 17px;
    background-image: url('../images/crm-icons.png');
    background-position: -120px -418px;
    display: block;
    background-size: 230px;
	}

	&.active{
		&:before{
			background-position: -137px -418px;
		}
	}
}

.ms-icon-bucket{
	&:before{
		content: "";
		width: 13px;
		height: 20px;
		background-image: url('../images/crm-icons.png');
		background-position: -14px -315px;
		display: block;
		background-size: 200px;
	}
}

.ms-icon-tagged{
	&:before{
		content: "";
		width: 20px;
		height: 20px;
		background-image: url('../images/crm-icons.png');
		background-position: -18px -456px;
    display: block;
    background-size: 240px;
	}
}

.ms-icon-view{
	&:before{
		content: "";
		width: 18px;
		height: 11px;
		background-image: url('../images/crm-icons.png');
		background-position: -145px -407px;
		display: block;
		background-size: 240px;
	}

	&.favorite{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		&:after{
			content: "";
			width: 15px;
			height: 12px;
			background-image: url('../images/crm-icons.png');
			background-position: 23px 0px;
			display: inline-block;
			background-size: 150px;
			order: -1;
			margin: 0;
			margin-left: 5px;
		}

		&:before{
			order: -2;
			margin: 0;
		}
	}
}

.ms-icon-save{
	&:before{
		content: "";
		width: 13px;
		height: 14px;
		background-image: url('../images/crm-icons.png');
		background-position: -65px -625px;
		display: block;
		background-size: 160px;
	}
}

.ms-icon-facebook{
	&:before{
		content: "";
		width: 22px;
		height: 22px;
		background-image: url('../images/crm-icons.png');
		background-position: -476px 0px;
		display: block;
	}
}

.ms-icon-instagram{
	&:before{
		content: "";
		width: 22px;
		height: 22px;
		background-image: url('../images/crm-icons.png');
		background-position: -476px -25px;
		display: block;
	}
}

.ms-icon-add{
	border: 1px solid #e1e1e1;
	border-radius: 2px;
	width: 24px;
	height: 24px;
	background-color: #FFF;
	position: relative;
	&:before{
		content: "";
		display: block;
		background-color: #6a6a6a;
		width: 9px;
		height: 1px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		position: absolute;
	}
	&:after{
		content: "";
		display: block;
		background-color: #6a6a6a;
		width: 1px;
		height: 9px;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		position: absolute;
	}
}

.ms-social{
	margin-top: 10px;
	&:after{
		content: "";
		display: block;
		clear: both;
	}

	li{
		float: left;
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}
	}

	[class^="ms-icon-"],
	[class*=" ms-icon-"]{
		text-indent: -999999px;
		overflow: hidden;
		display: block;
		height: 22px;
	}
}

.ms-item-chk{
	label{
		position: relative;
		padding-left: 26px;
		font-size: 14px;
		font-weight: normal;
		&:before{
			content: "";
			display: block;
			width: 16px;
			height: 16px;
			border: 2px solid #cccccc;
			border-radius: 2px;
			top: 2px;
			left: 0;
			position: absolute;
		}
	}

	input:checked+label:after {
		content: "\e904";
		font-family: "icomoon"!important;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 2px;
		left: 0;
		right: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 1;
	}
}

.tab-content{
	.ms-list{
		&:after{
			content: "";
			display: block;
			clear: both;
		}
		>li{
			float: left;
			margin-right: 10px;
			&:last-child{
				margin-right: 0;
			}
		}
	}

	.ms-tab-title{
		text-transform: uppercase;
		color: #7b7b7b;
		font-size: 12px;
		margin: 15px 0;
		padding-left: 13px;
	}
}

/*-----------------------------------------------------------------------------------------------------*/
/* LEADS TABLA
/*-----------------------------------------------------------------------------------------------------*/
.ms-lead-header{
	display: none;
	align-items: center;
	justify-content: space-between;
	border: 1px solid transparent;

	@media screen and (min-width: 768px){
		display: flex;
	}

	li{
		flex-grow: 1;
		flex-shrink: 0;
		font-weight: 700;
		text-align: center;
		font-size: 10px;
		text-transform: uppercase;
		margin-bottom: 5px;
		/*width: fit-content;
    min-width: 100%;*/
		border-right: 1px solid transparent;

		&:last-child{
			border-right: 0;
		}

		&.ms-username{
			width: 305px;
		}

		&.ms-inquires{
			width: 3.33%;
			min-width: 55px;
		}

		&.ms-activity{
			width: 220px;
		}

		&.ms-communication{
			width: 100px;
		}

		&.ms-todo{
			width: 100px;
		}

		&.ms-actions{
			width: 180px;
		}

		&.ms-drip{
			width: 50px;
		}

		&.ms-lastvisit,
		&.ms-registered,
		&.ms-assigned{
			width: 85px;
		}
	}
}

.ms-lead-body{
	position: relative;
	width: 100%;
	margin: 0 auto;
	.ms-lead-item{
		border-radius: 4px;
		background-color: #FFF;
		border: 1px solid #d6d5da;
		//box-shadow: 0 0 16px #ccc;
		box-shadow: 0 0 4px rgba(0,0,0,0.090);
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		//overflow: hidden;
		margin-bottom: 15px;

		.ms-item{
			&.ms-chk{
				label{
					text-indent: -999999px;
					margin: 0;
					position: relative;
					background-color: transparent;
					overflow: hidden;
					width: 40px;
					height: 100%;
					cursor: pointer;
					&:before{
						content: "";
						display: block;
						border-radius: 4px;
						border: 2px solid #cccccc;
						background-color: #FFF;
						width: 20px;
						height: 20px;
						text-indent: 0;
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						margin: -10px auto auto;
					}
				}

				input:checked+label{
					&:after{
						content: "\e904";
						font-family: 'icomoon'!important;
						width: 20px;
						height: 20px;
						position: absolute;
						top: 50%;
						left: 0;
						right: 0;
						margin: -10px auto auto;
						display: flex;
						align-items: center;
						justify-content: center;
						text-indent: 0;
						z-index: 1;
					}
				}
			}
		}

		.content_dropdown{
			margin: 0;
			z-index: auto;
			.dropdown{
				position: relative;
				margin-left: auto;
				margin-right: 0;
				.dropdown-menu {
					position: absolute;
					top: 100%;
					border: 1px solid #dfe0e0;
				}
			}
		}

		.ms-user-avatar{
			display: none;
			@media screen and (min-width: 375px){
				display: flex;
				margin-right: 10px;
			}

			@media screen and (min-width: 480px){
				width: 50px;
				height: 50px;
				font-size: 24px;
			}

			@media screen and (min-width: 480px){
				width: 35px;
				height: 35px;
				font-size: 18px;
			}
		}

		.ms-user-info{
			margin: 0 10px 0 5px;
			.ms-title{
		    .ms-name{
					max-width: 150px;
					@media screen and (min-width: 380px){
						max-width: 200px;
					}

					@media screen and (min-width: 480px){
						max-width: 230px;
					}

					@media screen and (min-width: 640px){
						max-width: 370px;
					}
		    }
			}
		}

		.ms-user-access{
			@media screen and (min-width: 480px){
				a, p{
					font-size: 15px;
				}

				.ms-icon{
					width: 20px;
					height: 20px;
					font-size: 12px;
				}
			}
		}

		.ms-inquires{
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			height: auto;
			padding: 10px 5px;
			font-size: 12px;
			background: linear-gradient(to right, #fa6630, #be155e);
			color: #FFF;
			span{
				display: block;
				font-weight: 600;
				font-size: 20px;
			}

			@media screen and (min-width: 480px){
				padding: 10px;
				font-size: 15px;
			}
		}

		.ms-status{
			@media screen and (min-width: 480px){
				width: 16px;
				height: 16px;
			}
		}

		.ms-wrap{
			width: 100%;
			display: flex;
			&.ms-username{
				position: relative;
				justify-content: space-between;
				padding: 5px;
				border-bottom: 1px solid #dfe0e0;
				.ms-chk{
					margin-left: -5px;
				}

				@media screen and (min-width: 480px){
					padding: 10px;
					.ms-chk{
						margin-left: -10px;
					}
				}
			}

			&.ms-actions{
				width: auto;
			}
		}

		.ms-lastvisit-btn{
			padding: 10px 10px 10px 40px; 
			font-size: 12px;
			margin: 0;
			color: #909090;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: auto;
			position: relative;
			min-height: 54px;
			span{
				color: #333;
				font-size: 12px;
				font-weight: 700;
				display: block;
			}

			.ms-arrow{
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 35px;
				height: 100%;
				text-indent: -999999px;
				overflow: hidden;
				background-color: transparent;
				color: #858687;
				&:before{
					content: "\e901";
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 16px;
					font-family: 'icomoon'!important;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					text-indent: 0;
					transform: rotate(90deg);
				}
			}

			@media screen and (min-width: 480px){
				font-size: 15px;
				padding-left: 50px;
				span{
					font-size: 15px;
				}
				.ms-arrow{
					width: 45px;
				}
			}
		}

		.ms-activity{
			display: flex;
			align-items: center;
			padding: 7px 0;
			border-top: 1px solid #dfe0e0;
			.ms-item{
				flex-grow: 1;
				width: 20%;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				font-size: 12px;
				color: #979797;
				padding: 5px;
				border-right: 1px solid #dfe0e0;
				span{
					display: block;
					font-weight: 700;
					color: #157edc;
					font-size: 15px;
				}

				a{
					color: #979797;
					&:hover{
						color: #157edc;
						text-decoration: underline;
					}
				}

				&:last-child{
					border-right: 0;
				}
			}

			@media screen and (min-width: 480px){
				padding: 10px;
				.ms-item{
					font-size: 15px;
					span{
						font-size: 18px;
					}
				}
			}
		}

		.ms-activity-actions{
			font-size: 11px;
			color: #979797;
			text-align: center;
			padding: 20px 5px;
			width: 32%;
			flex-grow: 1;
			border-top: 1px solid #dfe0e0;
			background-color: transparent;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			span{
				font-weight: 700;
				color: #333;
				display: block;
			}

			.ms-bg-text{
				text-transform: uppercase;
			}

			a{
				color: #157edc;
			}

			&:hover a{
				text-decoration: underline;
			}

			&.ms-todo{
				width: 100%;
				font-size: 12px;
				@media screen and (min-width: 480px){
					font-size: 15px;
				}
			}

			@media screen and (min-width: 480px){
				font-size: 15px;
				padding-top: 20px;
				padding-bottom: 20px;
				span{
					span{
						display: block;
					}

					&.ms-bg-text{
						margin-bottom: 5px;
					}
				}
			}
		}

		@media screen and (min-width: 768px){
			flex-wrap: nowrap;
			height: 65px;
			margin-bottom: 10px;
			
			width: fit-content;
			min-width: 100%;
			flex-shrink: 0;

			.ms-activity-actions{
				padding-top: 0;
				padding-bottom: 0;
			}

			.content_dropdown{
				/*position: absolute;
				right: 63px;
				bottom: 6px;
				z-index: 0;*/
				.dropdown{
					width: 80px;
					position: absolute;
					right: 0;
					z-index: 0;
					top: -25px;
					&.open{
						z-index: 2;
					}
					.btn {
						font-size: 10px;
						padding: 1px 10px;
						&:after {
							font-size: 7px;
						}
					}

					&.open{
						z-index: 1;
					}
				}
			}

			.ms-lastvisit-btn{
				display: none;
			}

			.ms-status{
				width: 12px;
				height: 12px;
			}

			.ms-inquires{
				font-size: 12px;
				width: 55px;
				span{
					font-size: 15px;
				}
			}

			.ms-user-info{
				margin-right: 0;
				padding-right: 10px;
				max-width: 275px;
				.ms-title{
					margin-top: 0;
					font-size: 16px;

					.ms-name{
						max-width: 210px;
					}
				}

				.ms-sub-item{
					padding: 0;
				}
			}

			.ms-user-access{
				a, p{
					font-size: 12px;
				}

				.ms-icon{
					width: 15px;
					height: 15px;
					font-size: 9px;
				}
			}

			.ms-username{
				order: 0;
				padding-top: 0 !important;
				padding-bottom: 0 !important;
				padding-right: 0 !important;
				border: 0 !important;
				flex-grow: 1;
				flex-shrink: 0;
				width: 360px;

				.ms-item{
					&.ms-chk{
						label{
							width: 30px;
							&:before{
								width: 16px;
								height: 16px;
								border-radius: 2px;
							}
						}

						input:checked+label:after{
							width: 16px;
							height: 16px;
						}
					}
				}
			}

			.ms-activity{
				order: 1;
				padding: 0;
				border-top: 0;
				flex-shrink: 0;
				flex-grow: 1;
				width: 220px;
				border-right: 1px solid #cacaca;
				.ms-item{
					font-size: 12px;
					border-right: 0;
					span{
						font-size: 15px;
					}
				}
			}

			.ms-communication{
				order: 2;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				font-size: 12px;
				font-weight: 700;
				color: #333;
				border-top: 0;
				border-right: 1px solid #cacaca;
				flex-grow: 1;
				width: 100px;
				flex-shrink: 0;
				.ms-bg-text{
					display: none;
				}
				span{
					font-weight: normal;
					order: 1;
					color: #979797;
				}
			}

			.ms-todo{
				order: 3;
				font-size: 12px !important;
				border-top: 0;
				border-right: 1px solid #cacaca;
				flex-grow: 1;
				width: 100px !important;
				flex-shrink: 0;
				padding-left: 0 !important;
				padding-right: 0 !important;
				.ms-label{
					display: none;
				}
				
				.ms-ellipsis{
				  color: #979797;
				  font-weight: normal !important;
				  font-size: 11px;
				  white-space: normal;
				} 

				.ms-bg-text{
					font-size: 11px;
				}
			}

			.ms-actions{
				order: 4;
				margin: 0;
				border-top: 0;
				border-right: 1px solid #cacaca;
				justify-content: center;
				flex-grow: 1;
				//width: auto;
				width: 180px;
				flex-shrink: 0;
				padding: 0 10px;
				.ms-btn{
					margin-right: 5px;
					width: 50px;
					&:last-child{
						margin-right: 0;
					}

					&.ms-phone{
						span{
							&:before{
								width: 15px;
								height: 16px;
								background-position: 1px -298px;
								background-size: 200px;
							}
						}

						&.active{
							span{
								&:before {
									background-position: -30px -298px;
								}
							}
						}
					}

					&.ms-email{
						span{
							&:before{
								width: 17px;
								height: 17px;
								background-position: -70px -326px;
								background-size: 230px;
							}
						}

						&.active{
							span{
								&:before {
									background-position: -103px -326px;
								}
							}
						}
					}

					&.ms-texts{
						span{
							&:before{
								width: 18px;
								height: 17.5px;
								background-position: 1px -330px;
								background-size: 233px;
							}
						}

						&.active{
							span{
								&:before {
									background-position: -35px -330px;
								}
							}
						}
					}
				}
			}

			.ms-drip{
				order: 5;
				text-indent: -999999px;
				position: relative;
				border-top: 0;
				border-right: 1px solid #cacaca;
				flex-grow: 1;
				min-width: 50px;
				width: 50px;
				flex-shrink: 0;
				display: block;
				span{
					display: none;
				}

				.ms-icon-rocket{
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 50%;
					left: 50%;
					//transform: translate(-50%,-50%);
					text-indent: 0;
					margin-bottom: 0;
					width: 21px;
					height: 23px;
					background-size: 155px;
					background-position: 0px 0;
					margin-top: -11.5px;
					margin-left: -10.5px;

					&.active{
						background-position: -42px 0;
					}

					&.end{
						background-position: -63px 0;
					}
				}
			}

			.ms-buckets{
				order: 5;
				text-indent: -999999px;
				position: relative;
				border-top: 0;
				border-right: 1px solid #cacaca;
				flex-grow: 1;
				min-width: 50px;
				width: 50px;
				flex-shrink: 0;
				display: block;
				span{
					display: none;
				}

				.ms-icon-buckets{
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 50%;
					left: 50%;
					//transform: translate(-50%,-50%);
					text-indent: 0;
					margin-bottom: 0;
					width: 17px;
					height: 26px;

					margin-top: -13px;
					margin-left: -8.5px;
					background-size: 250px;
					background-position: 0px -143px;
					&.active{
						background-position: -51px -143px;
					}
				}
			}

			.ms-lastvisit{
				order: 6;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				border-top: 0;
				border-right: 1px solid #cacaca;

				flex-grow: 1;
				flex-shrink: 0;
				width: 85px;
				.ms-bg-text{
					display: none;
				}
			}

			.ms-registered{
				order: 7;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				border-top: 0;
				border-right: 1px solid #cacaca;

				flex-grow: 1;
				flex-shrink: 0;
				width: 85px;
				.ms-bg-text{
					display: none;
				}
			}

			.ms-assigned{
				order: 8;
				font-size: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				border-top: 0;

				flex-grow: 1;
				flex-shrink: 0;
				width: 85px;
				.ms-bg-text{
					margin-bottom: 0 !important;
					font-size: 11px;
				}
				.ms-icon-user{
					display: none;
				}
			}
		}

		@media screen and (min-width: 1800px){
			.ms-actions .ms-btn{
				margin-right: 10px;
			}
			.ms-user-info {
				max-width: 100%;
			}
		}

		@media (max-width: 767px){
			.ms-activity,
			.ms-activity-actions{
				display: none;
			}

			&.active{
				.ms-activity,
				.ms-activity-actions{
					display: flex;
				}

				.ms-lastvisit-btn{
					.ms-arrow:before{
						transform: rotate(-90deg);
					}
				}

				.ms-activity-actions{
					&.ms-todo{
						padding: 15px;
						justify-content: flex-start;
						text-align: left;
						display: block;
						span{
							display: inline;
							margin-right: 5px;
						}
					}
				}
			}
		}
	}
}

/****** ADICIONALES ******/
.color-gray{
	color: #909090 !important;
	span{
		color: #909090 !important;
	}
}

.ms-ellipsis{
	width: 90%;
	display: block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal !important;
}

.ms-filter-actions{
	padding: 15px;
	margin: 0 -15px;
	background-color: #FFF;
	margin-bottom: 15px;
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.1);

	.ms-wrap-filter{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.ms-button{
		flex-shrink: 0;
		background-color: #fff;
		border: 1px solid #dedede;
		background-image: linear-gradient(to bottom, #fff 0, #f1f1f1 100%);
		width: 100%;
		height: 40px;
		font-weight: 700;
		border-radius: 4px;
		font-size: 12px;
		color: #333;
		position: relative;
		padding: 0 5px;
	}

	.ms-search{
		border: 1px solid #dedede;
		border-radius: 4px;
		height: 40px;
		padding: 0 30px 0 15px;
		position: relative;
		z-index: 1;
		background-color: transparent;
	}

	.ms-select-items,
	.ms-select-actions{
		width: 24%;
		margin-bottom: 10px;
	}

	.ms-input-search{
		width: 46%;
		margin-bottom: 10px;
		background-color: transparent;
		position: relative;
		&:after{
			color: #676766;
			content: "\e903";
			display: inline-block;
			font-family: 'icomoon'!important;
			font-size: 16px;
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			z-index: 0;
		}
	}

	.ms-select-filter,
	.ms-select-leads,
	.ms-new-lead{
		width: 32%;
	}

	.ms-top-pag{
		display: none;
	}
	
	@media screen and (min-width: 374px){

		.ms-select-actions{
			width: 27%;
			.ms-button{
				&:after{
					content: "\e901";
					font-family: "icomoon"!important;
					font-size: 10px;
					color: #333;
					width: auto;
					margin-left: 10px;
					display: inline-block;
					vertical-align: middle;
					transform: rotate(90deg);
					margin-top: -2px;
				}
			}
		}

		.ms-select-items{
			width: 27%;
			.ms-button{
				&:after{
					//content: "\e904";
					content: "";
					font-family: "icomoon"!important;
					font-size: 12px;
					color: #333;
					width: auto;
					margin-left: 10px;
					display: inline-block;
					vertical-align: middle;
					margin-top: -2px;
					border: 1px solid #989898;
					width: 10px;
					height: 10px;
					background-color: #FFF;
					line-height: 7px;
					text-align: center;
					border-radius:2px;
				}

				&.active{
					&:after{
						content: "\e904";
					}
				}
			}
		}

		.ms-input-search{
			width: 42%;
		}
	}

	@media screen and (min-width: 414px){

		.ms-select-items,
		.ms-select-actions{
			width: 24%;
		}

		.ms-input-search{
			width: 46%;
		}

		.ms-select-filter,
		.ms-select-leads{
			.ms-button{
				&:before{
					content: "";
					display: inline-block;
					vertical-align: middle;
					margin-top: -2px;
					margin-right: 5px;
					background-image: url('../images/crm-icons.png');
					width: 20px;
					height: 20px;
				}
			}
		}

		.ms-select-filter{
			.ms-button{
				&:before{
					width: 19px;
					background-position: 0 0;
					background-position: -76px -123px;
					background-size: 250px;
				}
			}
		}

		.ms-select-leads{
			.ms-button{
				&:before{
					width: 26px;
					background-position: 0 0;
					background-position: -95px -123px;
					background-size: 250px;
				}
			}
		}

		.ms-new-lead{
			&.ms-button{
				&:before{
					content: "";
					display: inline-block;
					vertical-align: middle;
					margin-top: -2px;
					margin-right: 5px;
					background-image: url('../images/crm-icons.png');
					width: 27px;
					height: 20px;
					background-size: 160px;
					background-position: -27px -46px;
				}
			}
		}

		.ms-button{
			font-size: 11px;
		}
	}

	@media screen and (min-width: 480px){
		.ms-button{
			font-size: 12px;
		}
	}

	@media screen and (min-width: 1440px){
		
		display: flex;
		align-items: center;
		justify-content: space-between;

		.ms-button{
			font-size: 13px;
		}

		.ms-top-pag{
			display: flex;
			align-items: center;
			justify-content: flex-end;
			//margin-left: auto;
			span{
				font-size: 13px;
				font-weight: 700;
				display: inline-block;
				margin-right: 10px;
			}

			button{
				margin-left: 5px;
				width: 35px;
				height: 30px;
				position: relative;
				text-indent: -999999px;
				overflow: hidden;
				&:before{
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					text-indent: 0;
					content: "\e901";
					font-family: 'icomoon'!important;
					font-size: 16px;
					color: #333;
				}

				&.ms-prev{
					&:before{
						transform: rotate(-180deg);
					}
				}
			}
		}

		.ms-wrap-filter{
			max-width: 950px;
			margin: 0;
			padding-right: 10px;
			flex-wrap: nowrap;
			width: 100%;
			margin-left: -10px;

			.ms-select-items,
			.ms-select-actions,
			.ms-input-search{
				margin-bottom: 0;
				margin-left: 10px;
				.ms-button{
					width: auto;
					padding: 0 10px;
					min-width: 110px;
				}
			}

			.ms-select-filter,
			.ms-select-leads{
				width: auto;
				min-width: 150px;
				margin-left: 10px;
				.ms-button{
					padding: 0 10px;
				}
			}

			.ms-new-lead{
				width: auto;
				padding: 0 10px;
				min-width: 150px;
				margin-left: 10px;
			}

			.ms-wrap-input{
				width: 100%;
				margin-left: 10px;
			}
		}
	}

	@media screen and (min-width: 1550px){
		.ms-wrap-filter{
			.ms-wrap-input{
				min-width: 288px;
			}
		}
	}
}

.ms-icon-phone{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	&:before{
    content: "";
    display: inline-block;
    margin-right: 5px;
    background-image: url('../images/crm-icons.png');
    width: 14px;
    height: 14px;
    text-indent: 0;
    background-position: -13px -89px;
    background-size: 180px;
	}
}

.ms-icon-email{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	&:before{
    content: "";
    display: inline-block;
    margin-right: 5px;
    background-image: url('../images/crm-icons.png');
    width: 14px;
    height: 15px;
    text-indent: 0;
    background-position: -71px -79px;
    background-size: 190px;
	}
}

.ms-dropdown{
	position: relative;
	.ms-dropdown-list{
		//display: none;
		position: absolute;
		top: 100%;
		left: 0;
		padding: 15px 0;
		border: 1px solid #cacaca;
		z-index: 2;
		background-color: #FFF;
    min-width: 160px;
    font-size: 13px;
    text-align: left;
    border-radius: 4px;
		li{
			a{
				padding: 5px 15px;
				color: #333;
				display: block;
				cursor: pointer;
				&:hover,
				&.active{
					color: #157edc;
				}
			}		
		}
	}

	&.active{
		.ms-dropdown-list{
			display: block;
		}
	}
}

.ms-wrap-chk{
	position: relative;
	width: 100%;
	label{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: 100%;
		padding: 2px 15px;
		font-weight: normal;
		cursor: pointer;
		position: relative;
		&:before{
			content: "";
			display: block;
			width: 20px;
			height: 20px;
			margin-right: 5px;
			border-radius: 3px;
			border: 2px solid #cccccc;
		}

		&:hover{
			color: #157edc;
		}
	}

	input:checked+label:after{
    content: "\e904";
    font-family: "icomoon"!important;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 15px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 0;
    z-index: 1;
	}

	&.ms-disabled{
		&:after{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		label{
			color: #ddd;
			&:after{
				content: "\e904";
				font-family: "icomoon"!important;
				width: 20px;
				height: 20px;
				position: absolute;
				top: 2px;
				left: 15px;
				right: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				text-indent: 0;
				z-index: 1;
			}
		}
	}
}

.ms-hidden{
	display: none !important;
}

/*-----------------------------------------------------------------------------------------------------*/
/* DETALLE LEAD
/*-----------------------------------------------------------------------------------------------------*/
.ms-crm-profile{
	background-color: #FFF;
}

.ms-wrap-profile{
	.ms-wrap-info{
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		.ms-cl-a{
			display: flex;
			align-items: center;
			justify-content: flex-start;
			flex-direction: column;
			width: 60px;
			.ms-user-avatar{
				width: 60px;
				height: 60px;
				margin-bottom: 10px;
				font-size: 30px;
			}

			.ms-status-pf{
				font-size: 12px;
				&:before{
					content: "";
					display: block;
					margin: 0 auto;
					width: 12px;
					height: 12px;
					border-radius: 100%;
					background-color: #d60a0a;
					margin-bottom: 5px;
				}
				&.ms-active{
					&:before{
						background-color: #1dcb00;
					}
				}
			}
		}

		.ms-cl-b{
			width: calc(100% - 60px);
			padding-left: 15px;
		}

		.ms-user-detail{
			.ms-title{
				font-size: 20px;
				color: #0374ad;
				margin-bottom: 5px;
				overflow: hidden;
				-o-text-overflow: ellipsis;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.btn-group{
				display: flex;
				position: relative;
				.btn{
					box-shadow: none !important;
					border-radius: 0;
					margin: 0;
					padding: 0;
					border: 0;
					font-size: 12px;
					background-color: transparent;
					margin-right: 5px;
				}

				.dropdown-toggle{
					width: 30px;
					height: 25px;
					overflow: hidden;
					text-indent: -999999px;
					&:after{
						width: 13px;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						top: 0;
						right: 0;
						content: "\e901";
						font-family: 'icomoon'!important;
						text-indent: 0;
						font-size: 9px;
						transform: rotate(90deg);
					}

					&:before{
						position: absolute;
						top: 5px;
						left: 0;
					}
				}

				.dropdown-menu{
					font-size: 13px;
					>li>a{
						padding: 5px;
						display: inline-flex;
						align-items: center;
						width: 100%;
						&:before{
							margin-right: 5px;
						}
					}
				}
			}
		}

		.ms-cl-c{
			&.ms-actions{
				width: 100%;
				display: flex;
				justify-content: space-between;
				padding: 15px 0;
				.ms-btn{
					text-indent: -999999px;
					padding: 5px;
					width: 32%;
					flex-shrink: 0;
					span{
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						text-indent: 0;
						display: flex;
						align-items: center;
						justify-content: center;
					}

					&.ms-phone{
						span{
							&:before{
								content: "";
								display: inline-block;
								margin-right: 5px;
								background-image: url('../images/crm-icons.png');
								width: 20px;
								height: 22px;
								text-indent: 0;
								background-position: 0px -403px;
								background-size: 270px;
							}
						}

						&.active{
							span{
								&:before{
									background-position: -40px -403px;
								}
							}
						}
					}

					&.ms-email{
						span{
							&:before{
								content: "";
								display: inline-block;
								margin-right: 5px;
								background-image: url('../images/crm-icons.png');
								width: 20px;
								height: 19px;
								text-indent: 0;
								background-position: -82px -384px;
								background-size: 270px;
							}
						}

						&.active{
							span{
								&:before{
									background-position: -121px -384px;
								}
							}
						}
					}

					&.ms-texts{
						span{
							&:before{
								content: "";
								display: inline-block;
								margin-right: 5px;
								background-image: url('../images/crm-icons.png');
								width: 21px;
								height: 20px;
								text-indent: 0;
								background-position: 1px -383px;
								background-size: 270px;
							}
						}

						&.active{
							span{
								&:before{
									background-position: -40px -383px;
								}
							}
						}
					}
				}
			}
		}
	}

	.ms-wrap-actions{
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		.ms-btn{
			width: 32%;
			border: 1px solid #d0d0d0;
			border-radius: 6px;
			padding: 10px 5px;
			text-align: center;
			font-size: 12px;
			background-color: #FFF;
			span{
				display: block;
				margin: 0 auto;
			}
			.ms-bg-text{
				margin-top: 5px;
				text-transform: uppercase;
				font-size: 11px;
				color: #333;
				font-weight: 700;
			}

			.ms-icon-user{
				margin-top: 5px;
			}
		}
	}
}