.idx-tutorial-active{	
	.rs-content-wrapper{
		padding-left: 15px;
		min-height: 90vh;
		background: #FFF;
		@media screen and (min-width: 768px){
			padding-left: 90px;
		}

		.idx-tutorial-content{
			position: relative;
		}

		.idx-title-tutorial{
			font-size: 30px;
			color: #e32e61;
			margin-bottom: 20px;
			@media screen and (min-width: 768px){
				font-size: 38px;
				margin-bottom: 30px;
			}
		}

		.idx-text-intro{
			opacity: 0;
			width: 100%;
			max-width: 630px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			&.idx-active-step{
				animation-duration: 1s;
				animation-fill-mode: both;
				z-index: 2;
				opacity: 1;
				animation-name: fadeIn;
			}
			.idx-intro{
				@media screen and (min-width: 768px){
					margin-right: 40px;
				}
				h2{
					font-weight: 600;
					font-size: 20px;
					margin-bottom: 5px;
				}
				p{
					font-size: 14px;
					line-height: 1.6;
					margin-bottom: 20px; 
				}
			}
		}

		.idx-btn-play{
			position: relative;
			z-index: 2;
			padding-left:25px;
			position: relative;
			background-color: transparent;
			span{
				font-weight: 600;
				transition: all .3s;
				font-family: $opensans;
				&:before{
					/*content: "\e921";
					font-family: 'icomoon';
					font-size: 18px;
					color: #e32e61;*/
					content: "";
					position: absolute;
					left: 0;
					top: -1px;
					display: block;

					background: url('../images/tutorial/icons_tutorial.png');
					background-position: -229px -2px;;
					width: 20px;
					height: 20px; 	
					/*background-image: linear-gradient(to right, #ff5f30, #ff5f30 25%, #b71164);
					color:transparent;
					-webkit-background-clip: text;
					background-clip: text;*/
				}
			}
			&:hover{
				span{
					color: #e32e61;
				}
			}
		}

		.idx-btn-content{
			text-align: left;
			margin: 30px 0;
			@media screen and (min-width: 768px){
				text-align: center;
			}
			.btn-link{
				margin: 5px 0;
				display: inline-block;
				color: #333;
				transition: all .3s;
				margin-left: 20px;
				&:hover{
					color: #e32e61;
				}
				@media screen and (min-width: 768px){
					margin-left: 0;
				}
			}
		}
	}

	.idx-cpanel-btn-list{
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 30px;
		flex-direction: column;
		align-items: center;

		@media screen and (min-width: 480px){
			flex-direction: row;
			max-width: 520px;
		}

		li{
			width: 100%;
			max-width: 140px;
			text-align: center;
			font-style: italic;
			span{
				font-weight: 600;
			}
			label{
				display: block;
				font-weight: 400;
			}
			&.idx-icon-rocket,
			&.idx-icon-wp,
			&.idx-icon-edit{
				a{
					display: block;
					color: #333;
					transition: all .3s;
					&:hover{
						color: #e32e61
					}
					&:before{
						align-items: center;
						justify-content: center;
						display: flex;
						margin: 0 auto;
						content: "";
						background-position: center;
						/*color: #e32e61;
						font-size: 90px;
						font-family: 'icomoon' !important;
						font-style: normal;
						background-image: linear-gradient(to right, #ff5f30, #ff5f30 25%, #b71164);
						color:transparent;
						-webkit-background-clip: text;
						background-clip: text;*/
						margin-bottom: 10px;
					}
				}
			}
			&.idx-icon-rocket{
				a{
					&:before{
						/*content: "\e917";*/
						background: url('../images/tutorial/icons_tutorial.png');
						background-position: -5px 0;
						width: 66px;
						height: 75px; 
					}
				}
			}
			&.idx-icon-wp{
				a{
					&:before{
						/*content: "\e918";*/
						background: url('../images/tutorial/icons_tutorial.png');
						background-position: -75px 0;
						width: 75px;
						height: 75px;
					}
				}
			}
			&.idx-icon-edit{
				a{
					&:before{
						/*content: "\e919";
						font-size: 80px;*/
						background: url('../images/tutorial/icons_tutorial.png');
						background-position: -152px -2px;
						width: 71px;
						height: 75px;
					}
				}
			}
		}
	}

	.idx-info-text{
		@media screen and (min-width: 768px){
			display: flex;
			justify-content: space-between;
		}
	}

	&:after{
		display: none;
		position: absolute;
		content: "";
		left: 266px;
		transition: all .3s;

		background-image: url('../images/tutorial/icons_tutorial.png');
		background-position: -225px -37px;
		width: 53px;
		height: 26px;
		@media screen and (min-width: 768px){
			display: block;
			top: 618px;
		}
	}

	.idx-content-img{
		margin-top: 20px;
		@media screen and (min-width: 991px){
			margin-top: -20px;
		}
		img{
			width: auto;
			max-width: 100%;
		}
		&.idx-m-top{
			margin-top: 20px;
		}
		&.idx-right{
			img{
				margin: 0 auto;
				display: block;
				margin-right: 0;
			}
		}
	}
}

.fadeIn {
	-webkit-animation-duration: 3s;
	-webkit-animation-name: fadeIn;
	-moz-animation-duration: 3s;
	-moz-animation-name: fadeIn;
	-o-animation-duration: 3s;
	-o-animation-name: fadeIn;
	animation-name: fadeIn;
	visibility: visible !important;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@-o-keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}	
	100% {opacity: 1;}
}


body{
	&.idx-tutorial-step-access{
		.idx-tutorial-active{
			&:after{
				top: 610px;
			}
		}
	}

	&.idx-tutorial-step-email{
		.idx-tutorial-active{
			&:after{
				top: 490px;
			}
		}
	}

	&.idx-tutorial-step-buildings{
		.idx-tutorial-active{
			&:after{
				top: 430px;
			}
		}
	}

	&.idx-tutorial-step-filters{
		.idx-tutorial-active{
			&:after{
				top: 370px;
			}
		}
	}

	&.idx-tutorial-step-listings{
		.idx-tutorial-active{
			&:after{
				top: 305px;
			}
		}
	}

	&.idx-tutorial-step-settings{
		.idx-tutorial-active{
			&:after{
				top: 250px;
				/*background-position: -306px -1px;
				width: 54px;
				height: 22px;*/
				transform: scaleX(-1) rotate(-145deg);
				filter: FlipH;
				-ms-filter: "FlipH";
			}
		}
	}

	&.idx-tutorial-step-account{
		.idx-tutorial-active{
			&:after{
				top: 200px;
				/*background-position: -306px -1px;
				width: 54px;
				height: 22px;*/
				transform: scaleX(-1) rotate(-180deg);
				filter: FlipH;
				-ms-filter: "FlipH";
			}
		}
	}

	&.idx-tutorial-step-leads{
		.idx-tutorial-active{
			&:after{
				top: 20px;
				transform: scaleX(-1) rotate(-180deg);
				filter: FlipH;
				-ms-filter: "FlipH";/*
				background-position: -306px -1px;
				width: 54px;
				height: 22px;*/
			}
		}
	}
}

.ms-menu-list{
  .ms-show-arrow{
    position: relative;
    &:after {
      content: "";
      top: 15px;
      right: -55px;
      background: url('../images/tutorial/icons_tutorial.png');
      background-position: -307px 0px;
      width: 53px;
      height: 26px;
      display: block;
      position: absolute;
    }

    /*.item_nav{
      background: transparent;
      .gb{
        background-color: #FFF;
        color: #be155e;
      }
    }*/
  }
}